[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpy = ">=0.3.0"
matplotlib = ">=3.3.4"
numpy = ">=1.20.1"
pywin32 = {version = ">=300", sys_platform = "== 'win32'"}

[dev-packages]
